* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
	font-family: "Poppins", sans-serif;
}

.nav {
	height: 50px;
	width: 100%;
	background-color: #0D1B2A;
	position: relative;
}

.nav>.nav-header {
	display: inline;
}

.nav>.nav-header>.nav-title {
	display: inline-block;
	font-size: 20px;
	color: #E0E1DD;
	padding: 10px 10px 10px 10px;
	letter-spacing: 1px;
}

.nav>.nav-btn {
	display: none;
}

.nav>.nav-links {
	display: inline;
	float: right;
	font-size: 15px;
}

.nav>.nav-links>a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #E0E1DD;
}

.nav>.nav-links>a:hover {
	transition: ease 0.5s;
	color: #415A77;
}

.nav>#nav-check {
	display: none;
}

@media (max-width:600px) {
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav>.nav-btn>label:hover,
	.nav #nav-check:checked~.nav-btn>label {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #E0E1DD;
	}

	.nav>.nav-links {
		z-index: 999;
		position: absolute;
		display: block;
		width: 100%;
		background-color: #0D1B2A;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}

	.nav>.nav-links>a {
		display: block;
		width: 100%;
	}

	.nav>#nav-check:not(:checked)~.nav-links {
		height: 0px;
	}

	.nav>#nav-check:checked~.nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}

.card>img {
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 200px;
	height: 150px;
	object-fit: contain;
}


.card-button {
	background-color: transparent;
	border: none;
	display: block;
	margin: auto;
}

.card-button>a {
	color: #778DA9;
}

.card-button>a:hover {
	color: #415A77;
}

#quizpopup {
	min-width: 275px;
	max-height: 400px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #415A77;
	color: #E0E1DD;
	padding: 25px;
	opacity: 0;
	pointer-events: none;
}

.button1 {
	display: flex;
	height: 3em;
	width: 100px;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	letter-spacing: 1px;
	transition: all 0.2s linear;
	cursor: pointer;
	border: none;
	background: #E0E1DD;
	color: #0D1B2A;
	pointer-events: all;
}

@media screen and (max-width:1200px) and (min-width:680px) {
	#quizpopup {
		min-width: 275px;
		max-height: 400px;
		font-size: small;
		margin-top: 50px;
		padding: 18px;
	}

	.button1 {
		width: 75px;
		height: 2.5em;
	}
}

@media screen and (max-width:679px) and (min-width:370px) {
	#quizpopup {
		min-width: 275px;
		max-height: 400px;
		font-size: xx-small;
		margin-top: 50px;
		padding: 15px;
	}

	.button1 {
		width: 60px;
		height: 2.5em;
	}
}

.button1>svg {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 20px;
	transition: all 0.4s ease-in;
}

.button1:hover {
	transform: translateY(-2px);
}

div>h6>a {
	text-decoration: none;
	color: #E0E1DD;
}

div>h6>a:hover {
	transition: ease 0.5s;
	color: #ededed;
}

#icon>a {
	color: #E0E1DD;
	text-decoration: none;
}

/* services section css */
.servicesText.card {
	height: 280px;
	cursor: pointer;
}

.servicesIcon {
	font-size: 36px;
	text-align: center;
	width: 100%;
}

.card-title {
	text-align: center;
}

.card:hover .servicesIcon {
	color: #008000;
}

.servicesText:hover {
	border: 1px solid #008000;
}

/* INSTRUCTION */

/* -------------------------------- 

File#: _1_sticky-hero
Title: Sticky Hero
Descr: A sticky hero section that reveals its content on scroll
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --sy8-color-primary-hsl: 250, 84%, 54%;
  --sy8-color-bg-hsl: 0, 0%, 100%;
  --sy8-color-contrast-high-hsl: 230, 7%, 23%;
  --sy8-color-contrast-higher-hsl: 230, 13%, 9%;
  --sy8-color-accent-hsl: 342, 89%, 48%;
  --sy8-color-contrast-lower-hsl: 240, 4%, 85%;

  /* spacing */
  --sy8-space-md: 1.25rem;
  --sy8-space-xl: 3.25rem;
  --sy8-space-sm: 0.75rem;
  --sy8-space-xs: 0.5rem;

  /* typography */
  --sy8-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --sy8-space-md: 2rem;
    --sy8-space-xl: 5.125rem;
    --sy8-space-sm: 1.125rem;
    --sy8-space-xs: 0.75rem;

    /* typography */
    --sy8-text-sm: 1rem;
  }
}

/* component */
.sticky-hero {
  position: relative;
  z-index: 1;
}

.sticky-hero__media {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.sticky-hero--overlay-layer .sticky-hero__media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: hsl(var(--sy8-color-bg-hsl));
  transition: opacity 1s;
}

.sticky-hero--media-is-fixed.sticky-hero--overlay-layer .sticky-hero__media::after {
  opacity: 0.65;
}

.sticky-hero--media-is-fixed.sticky-hero--scale .sticky-hero__media {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.sticky-hero__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.sticky-hero__video video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  max-width: none;
}

.sticky-hero__content {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* utility classes */
.sy8-text-component :where(h1, h2, h3, h4) {
  line-height: var(--sy8-heading-line-height, 1.2);
  margin-top: calc(var(--sy8-space-md) * var(--sy8-space-multiplier, 1));
  margin-bottom: calc(var(--sy8-space-sm) * var(--sy8-space-multiplier, 1));
}

.sy8-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--sy8-body-line-height, 1.4);
}

.sy8-text-component :where(ul, ol, p, blockquote, .sy8-text-component__block) {
  margin-bottom: calc(var(--sy8-space-sm) * var(--sy8-space-multiplier, 1));
}

.sy8-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.sy8-text-component ul :where(ul, ol), .sy8-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.sy8-text-component ul {
  list-style-type: disc;
}

.sy8-text-component ol {
  list-style-type: decimal;
}

.sy8-text-component img {
  display: block;
  margin: 0 auto;
}

.sy8-text-component figcaption {
  margin-top: calc(var(--sy8-space-xs) * var(--sy8-space-multiplier, 1));
  font-size: var(--sy8-text-sm);
  text-align: center;}

.sy8-text-component em {
  font-style: italic;
}

.sy8-text-component strong {
  font-weight: bold;
}

.sy8-text-component s {
  text-decoration: line-through;
}

.sy8-text-component u {
  text-decoration: underline;
}

.sy8-text-component mark {
  background-color: hsla(var(--sy8-color-accent-hsl), 0.2);
  color: inherit;
}

.sy8-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--sy8-color-contrast-lower-hsl));
  font-style: italic;
}

.sy8-text-component hr {
  margin: calc(var(--sy8-space-md) * var(--sy8-space-multiplier, 1)) auto;
  background: hsl(var(--sy8-color-contrast-lower-hsl));
  height: 1px;
}

.sy8-text-component > *:first-child {
  margin-top: 0;
}

.sy8-text-component > *:last-child {
  margin-bottom: 0;
}

.sy8-text-component.sy8-line-height-xs {
  --sy8-heading-line-height: 1;
  --sy8-body-line-height: 1.1;
}

.sy8-text-component.sy8-line-height-sm {
  --sy8-heading-line-height: 1.1;
  --sy8-body-line-height: 1.2;
}

.sy8-text-component.sy8-line-height-md {
  --sy8-heading-line-height: 1.15;
  --sy8-body-line-height: 1.4;
}

.sy8-text-component.sy8-line-height-lg {
  --sy8-heading-line-height: 1.22;
  --sy8-body-line-height: 1.58;
}

.sy8-text-component.sy8-line-height-xl {
  --sy8-heading-line-height: 1.3;
  --sy8-body-line-height: 1.72;
}

.sy8-article {
  --sy8-heading-line-height: 1.22;
  --sy8-body-line-height: 1.66;
  --sy8-space-multiplier: 1.2;
}

.sy8-max-width-sm {
  max-width: 48rem;
}

.sy8-container {
  width: calc(100% - 2*var(--sy8-space-md));
  margin-left: auto;
  margin-right: auto;
}

.sy8-margin-bottom-xl {
  margin-bottom: var(--sy8-space-xl);
}

.sy8-text-center {
  text-align: center;
}

/* TEXT BOX */

.textbox{
  padding: 60px;
  color: white;
}